* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #17202a;
    color: #fff;
    font-size: 16px;
    overflow: auto; /* Permite rolagem */
}

.logo {
    font-family: "Orbitron", sans-serif;    
    font-size: 2rem;
    font-weight: 800;
    color: #40E0D0;
    filter: drop-shadow(0 0 30px rgba(0, 247, 255, 0.3));
}

header {
    position: fixed;
    width: 90vw;
    top: 0;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    background-color: #17202a; /* Evita conteúdo "vazando" atrás do header */
}

header nav ul {
    display: flex;
    gap: 48px;
}

header nav ul li {
    cursor: pointer;
    position: relative;
    padding: 5px 0px;
}

header nav ul li::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #40E0D0;
    transition: width 0.5s;
}

header nav ul li:hover::after {
    width: 100px;
}

.container {
    position: relative;
    width: 80%;
    margin: 0 auto;
    padding-top: 100px; /* Compensa a altura do header fixo */
    min-height: 100vh;
}

.container::before {
    content: '';
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(64, 224, 208, 0.3) 0%, rgba(15, 15, 30, 0) 70%);
    position: absolute;
    top: 50%;
    left: 50%;
    filter: blur(50px);
    z-index: 1;
    animation: pulse 5s infinite alternate;
    transform: translate(-50%, -50%);
}

@keyframes pulse {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(0.8);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1.2);
    }
}

.item {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: 2; /* Para aparecer acima do fundo animado */
}

.active {
    opacity: 1;
}

.image {
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;    
}

.image img {
    max-width: 80%;
    max-height: 40%;
    filter: drop-shadow(0 0 15px rgba(0, 247, 255, 0.3));
}

.content {
    width: 50%;
    padding-right: 80px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 2;
    flex-direction: column;
}

.content h2 {
    font-size: 1rem;
    font-weight: 600;
    color: #40E0D0;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.content p {
    font-size: 1.1.rem;  
    margin-bottom: 1rem;
}

.btn {
    font-size: 1rem;
    font-weight: 300; /* exopressura da letra*/ 
    border: none;
    margin: 0;
    padding: 5px;
    border-radius: 2rem;
    background-color: #7aa7c7;
    color: #000; 
    cursor: pointer;
}

.arrows {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translatey(-50%);
    padding: 0px 20px;
    z-index: 5;
   
}

.arrows-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none; 
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(0, 247, 255, 0.3);  
    cursor: pointer
}

.arrows-btn:hover {
    background-color: rgba(0, 247, 255, 0.2);
    border-color: #40E0D0;
}

.indicators {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translatex(-50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    z-index: 5;
}

.numbers {
    font-family: "Orbitron", sans-serif;   
    font-size: 2rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.2)
}

.dots {
    display: flex;
    gap: 10px;
}
.dot {
    width: 40px;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

.dot.active {
    background-color: #40E0D0;
    box-shadow: 0 0 10px rgba(0, 247, 255, 0.5);
}











